<?xml version="1.0" encoding="UTF-8"?>
<s:beans xmlns:s="http://www.springframework.org/schema/beans"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://www.bsoft.com.cn/schema/ssdev"
         xsi:schemaLocation="http://www.springframework.org/schema/beans
				http://www.springframework.org/schema/beans/spring-beans.xsd
						http://www.bsoft.com.cn/schema/ssdev
						http://www.bsoft.com.cn/schema/ssdev/ssdev.xsd">

    <applicationDomain name="bed" packagePrefix="com.bsoft.iot" serverId="bed"
                       registryAddress="zookeeper://10.8.0.82:2181" zkAuth="admin:admin"/>
    <connector url="tcp://0.0.0.0:9010?codec=hessian">
        <filter id="urt"/>
    </connector>
    <publisher id="publisher"/>

    <s:import resource="spring-dictionary.xml"/>
    <s:import resource="spring-account.xml"/>
    <s:import resource="spring-module.xml"/>
    <s:import resource="spring-param.xml"/>

    <service ref="resourceLocator"/>
    <service ref="dictionaryService"/>

</s:beans>
