<?xml version="1.0" encoding="UTF-8"?>
<s:beans xmlns:s="http://www.springframework.org/schema/beans"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://www.bsoft.com.cn/schema/ssdev"
         xsi:schemaLocation="http://www.springframework.org/schema/beans
				http://www.springframework.org/schema/beans/spring-beans.xsd
						http://www.bsoft.com.cn/schema/ssdev
						http://www.bsoft.com.cn/schema/ssdev/ssdev.xsd">
    <!--dictionary-->
    <reference id="bbp.dictionaryDBLoader" interface="ctd.controller.ConfigurableLoader"/>
    <s:bean id="dictionaryController" class="ctd.dictionary.controller.DictionaryController">
        <s:property name="loaderList">
            <s:list>
                <s:ref bean="bbp.dictionaryDBLoader"/>
                <s:ref bean="dictionaryXMLLoader"/>
                <s:ref bean="dictionaryDnsLoader"/>
                <!--<s:ref bean="dictionaryDBLoader"/>-->
            </s:list>
        </s:property>
        <s:property name="updater" ref="dictionaryUpdater"/>
    </s:bean>
    <s:bean id="dictionaryDnsLoader" class="ctd.dictionary.support.DnsDictionaryLoader">
        <s:property name="centerLoader" ref="bbp.dictionaryDBLoader"></s:property>
    </s:bean>

    <s:bean id="dictionaryXMLLoader" class="ctd.dictionary.loader.XMLDictionaryLocalLoader"/>
    <s:bean id="dictionaryDBLoader" class="ctd.dictionary.support.DBDictionaryLocalLoader">
        <s:property name="dictionaryDAO" ref="dictionaryDAO"></s:property>
    </s:bean>
    <s:bean id="dictionaryUpdater" class="ctd.dictionary.support.DictionaryUpdater">
        <s:property name="dictionaryDAO" ref="dictionaryDAO"/>
    </s:bean>
    <s:bean id="dictionaryWatcher" class="ctd.dictionary.watcher.DictionaryWatcher" lazy-init="false">
        <s:property name="controller" ref="dictionaryController"/>
    </s:bean>
    <dao id="dictionaryDAO" class="ctd.dictionary.dao.DictionaryDAO"/>
    <dao id="dictionaryItemDAO" class="ctd.dictionary.dao.DictionaryItemDAO"/>
    <dao id="dictionaryAttributeDAO" class="ctd.dictionary.dao.DictionaryAttributeDAO"/>
    <dao id="dictionaryProgramDAO" class="ctd.dictionary.dao.DictionaryProgramDAO"/>
    <dao id="dictionaryCategoryDAO" class="ctd.dictionary.dao.DictionaryCategoryDAO"/>

</s:beans>
