<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:util="http://www.springframework.org/schema/util"
       xmlns:mvc="http://www.alibaba.com/schema/stat" xmlns:context="http://www.springframework.org/schema/context"
       xmlns:ssdev="http://www.bsoft.com.cn/schema/ssdev" xmlns:aop="http://www.springframework.org/schema/aop"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd http://www.springframework.org/schema/util http://www.springframework.org/schema/util/spring-util.xsd http://www.alibaba.com/schema/stat http://www.alibaba.com/schema/stat.xsd http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd http://www.bsoft.com.cn/schema/ssdev http://www.bsoft.com.cn/schema/ssdev/ssdev.xsd http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop.xsd">
    <import resource="classpath:ctd/mvc/spring-mvc.xml"/>

    <context:component-scan base-package="com.bsoft.iot.emos.*"/>
    <mvc:annotation-driven />
    <aop:aspectj-autoproxy proxy-target-class="true" expose-proxy="true"/>
    <bean id="mvcJSONRequester" class="ctd.mvc.controller.support.JSONRequester"/>
    <bean id="mvcAutoUpdateResponder" class="ctd.mvc.controller.support.AutoUpdateResponder"/>
    <bean id="mvcSchemaLoader" class="ctd.mvc.controller.support.SchemaLoader">
        <property name="expiresSeconds" value="15"/>
    </bean>
    <bean id="mvcAppModuleDefineLoader" class="ctd.mvc.controller.support.AppModuleDefineLoader"/>
    <bean id="dictionaryService" class="ctd.dictionary.service.DictionaryLocalService"/>
    <bean id="mvcDictionaryLoader" class="ctd.mvc.controller.support.DictionaryLoader">
        <property name="expiresSeconds" value="15"/>
        <property name="localService" ref="dictionaryService"/>
    </bean>
    <bean id="logonEventListener" class="ctd.mvc.logon.event.support.DefaultLogonEventListener"/>
    <bean id="mvcLogonManager" class="ctd.mvc.controller.support.LogonManager">
        <property name="expiresSeconds" value="15"/>
        <property name="encryptEnable" value="false"/>
        <property name="logonEventListener" ref="logonEventListener"/>
    </bean>

    <bean id="mvcHTMLTemplateLoader" class="ctd.mvc.controller.support.HTMLTemplateLoader">
        <property name="expiresSeconds" value="15"/>
    </bean>
    <bean id="mvcScriptLoader" class="ctd.mvc.controller.support.ScriptLoader">
        <property name="expiresSeconds" value="15"/>
        <property name="tryLoadCompressJs" value="false"/>
    </bean>
    <bean id="mvcStaticResourceLoader" class="ctd.mvc.controller.support.StaticResourceLoader">
        <property name="expiresSeconds" value="15"/>
        <property name="tryLoadCompressCss" value="false"/>
    </bean>

    <bean id="fileRegistry" class="ctd.mvc.upload.support.HibernateSupportFileRegistry"/>
    <bean id="fileRepository" class="ctd.mvc.upload.support.LocalFileRepository"/>

    <bean id="fileService" class="ctd.mvc.upload.FileService">
        <property name="registry" ref="fileRegistry"/>
        <property name="repository" ref="fileRepository"/>
    </bean>
    <bean id="mvcUploadFileManager" class="ctd.mvc.controller.support.UploadFileManager">
        <property name="fileService" ref="fileService"/>
        <property name="maxUploadFileSize" value="83886080"/>
        <property name="expiresSeconds">
            <util:constant static-field="ctd.util.ServletUtils.ONE_WEEK_SECONDS"/>
        </property>
    </bean>

    <bean id="resourceLocator" class="ctd.mvc.resource.service.ResourceLocateService"/>

    <bean id="printLocator" class="ctd.mvc.print.service.PrintLocateService"/>

    <bean id="mvcPrintLoader" class="ctd.mvc.controller.support.PrintLoader"/>
</beans>