<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans-3.0.xsd">

    <import resource="classpath:/ctd/util/exp/spring-expr-base.xml"/>

    <bean id="exprProcessor" class="ctd.util.exp.ExpressionProcessor">
        <property name="expressionSets">
            <list>
                <ref bean="expr_set_base"/>
            </list>
        </property>
    </bean>
    <bean id="globalEventExecFactory" class="ctd.util.event.GlobalEventExecFactory" init-method="init"
          destroy-method="shutdown">
        <property name="threads" value="50"/>
    </bean>

    <import resource="spring-hibernate.xml"/>
    <import resource="spring-service.xml"/>
    <import resource="spring-mvc.xml"/>
    <import resource="spring-dns.xml"/>

</beans>
